#newtonMethodModal {
  position: relative;
  margin-right: 540px;
}

#canvasNewton {
  visibility:visible;
  //margin-left: 20em;
  //margin-top: 2em;
  margin-top: 0px;
  margin-left: 500px;
  position: absolute;
  display: block;
  background-color: white;
}

#algorithmTime {
  display: none;
}
